@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-background-color {
  background-color: #ffffff;
}

.z-2 {
  z-index: 2;
}

.postion-fixed {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-space-btwn {
  justify-content: space-between;
}

.digiency-1 {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  line-height: 45.77px;
  text-align: left;
  color: #ff5300;
}

.digiency-2 {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  line-height: 45.77px;
  text-align: left;
  color: #373737;
}

.gap-29 {
  gap: 29px;
}

.navbar-items {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.menubar {
  display: none;
}

.navbar-items:hover {
  color: red;
}

.nav-shadows {
  box-shadow: 0px 1px 10px 0px #0000001a;
}

.col-6 {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
}

.section1-background {
  background-color: #fff7f4;
}

.mt-170 {
  margin-top: 170px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-150 {
  padding-bottom: 150px;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.section1-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.33px;
  text-align: left;
  color: black;
}

.digital-span {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.33px;
  text-align: left;
  color: #ff5300;
}

.section1-paragraph {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7b7b7b;
}

.contactus-button {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #ffffff;
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
  background-color: #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;

  border: none;
}

.contactus-button:hover {
  background-color: #ffffff;
  color: #ff5300;
  border: 2px solid #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
}

.postion-relative {
  position: relative;
}

.postion-absolute {
  position: absolute;
}

.mainbox-apps {
  top: 30%;
  right: -20%;
}

.facebook-box {
  padding: 8px 8px 8px 8px;
  background-color: white;
  box-shadow: 4px 5px 15px 0px #FF530066;
}

.section-1:hover .mainbox-apps {
  right: 0%;
}

.over-flow-hidden {
  overflow: hidden;
}

.facebook-box:hover svg path {
  fill: white;
}

.facebook-box:hover {
  background-color: #ff5300;
}

.pt-120 {
  padding-top: 120px;
}

.section2-contactus-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #ffffff;
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
  background-color: #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
  border: 2px solid #ff5300;
}

.section2-contactus-btn:hover {
  background-color: #ffffff;
  color: #ff5300;
  border: 2px solid #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
}

.section2-we-are {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
}

.ideas-better-span {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
  color: #FF5300;
}

.mt-25 {
  margin-top: 25px;
}

.mt-18 {
  margin-top: 18px;
}

.about-us {
  font-family: "Work Sans", sans-serif;
  color: #7B7B7B;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.section1-lorem-paragraph {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.col-3 {
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #FF5300;
  background-color: #FF5300;
  box-shadow: 4px 5px 15px 0px #FF530066;
}

.justify-content-center {
  justify-content: center;
}

.circle:hover {
  background-color: white;
}

.circle:hover span svg path {
  fill: #FF5300;
}

.circle-2 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #7B7B7B;
  background-color: #7B7B7B;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-2:hover {
  background-color: white;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-2:hover span svg path {
  fill: #7B7B7B;
}

.circle-3 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #00ACFF;
  background-color: #00ACFF;
  box-shadow: 4px 5px 15px 0px #00C2FF66;
}

.circle-3:hover {
  background-color: white;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-3:hover span svg path {
  fill: #00ACFF;
}

.circle-4 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #373737;
  background-color: #373737;
  box-shadow: 4px 5px 15px 0px #00000066;
}

.circle-4:hover {
  background-color: white;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-4:hover svg path {
  fill: #373737;
}

.card {
  box-shadow: 0px 1px 10px 0px #0000001A;
  padding: 25px 30px 20px 20px;
  height: 100%;
}
.pt-60{
  padding-top: 60px;
}
.pb-120{
  padding-bottom: 120px;
}
.text-align-center{
  text-align: center;
}
.box-paragraph-sec2{
  font-family: "Work Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: center;
  color: #373737;
}
.mt-36{
  margin-top: 36px;
}
.card:hover .circle-2 {
  background-color: white;
  
}
.card:hover .circle-2 svg path{
  fill: black;
}
.card:hover .circle {
  background-color: white;

}

.card:hover .circle svg path {
  fill: #FF5300;
}
.card:hover .circle-3 {
  background-color: white;

}

.card:hover .circle-3 svg path {
  fill:#00ACFF;
}
.card:hover{
  box-shadow: 0px -2px 38px 8px #0000001a;
}
.card:hover .circle-4 {
  background-color: white;
}

.card:hover .circle-4 svg path {
  fill: black;
}
@media (max-width: 992px) {
  .navbar-items {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: black;
  }

  .section1-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 50.33px;
    text-align: left;
    color: black;
  }

  .digital-span {
    font-family: "Work Sans", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 50 .33px;
    text-align: left;
    color: #ff5300;
  }
}

@media (max-width: 768px) {
  .menubar {
    width: 40px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 100;
  }

  .menubar span {
    height: 5px;
    width: 100%;
    background-color: red;
    border-radius: 3px;
  }

  .nav-items {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff7f4;
    left: -100%;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .show {
    left: 0;
  }

  .md-col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .md-flex-direction-revrse {
    flex-direction: column-reverse;
  }
  .md-col-6{
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .md-mt-20{
    margin-top: 20px;
  }
.md-justify-content-center{
justify-content: center;
}
}

@media (max-width: 567px) {
  .digiency-1 {
    font-family: "Work Sans", sans-serif;
    font-size: 30.06px;
    line-height: 45.77px;
    text-align: left;
    color: #ff5300;
  }

  .digiency-2 {
    font-family: "Work Sans", sans-serif;
    font-size: 30.06px;
    line-height: 45.77px;
    text-align: left;
    color: #373737;
  }

  .section1-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.33px;
    text-align: left;
    color: black;
  }

  .digital-span {
    font-family: "Work Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45.33px;
    text-align: left;
    color: #ff5300;
  }
  .sm-col-12{
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .sm-mt-20{
    margin-top: 20px;
  }
    .section2-we-are {
      font-family: "Work Sans", sans-serif;
      font-size: 34.06px;
      font-weight: 600;
      line-height: 40.28px;
      text-align: left;
    }
  
    .ideas-better-span {
      font-family: "Work Sans", sans-serif;
      font-size: 34.06px;
      font-weight: 600;
      line-height: 40.28px;
      text-align: left;
      color: #FF5300;
    }
}

@media (min-width:992px) {

  .section1-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: black;
    max-width: 440px;
  }

  .digital-span {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: #ff5300;
  }

  .section1-paragraph {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: #7b7b7b;
    max-width: 493px;
  }
}