@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-background-color {
  background-color: #ffffff;
}

.z-2 {
  z-index: 2;
}

.postion-fixed {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-space-btwn {
  justify-content: space-between;
}

.digiency-1 {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  line-height: 45.77px;
  text-align: left;
  color: #ff5300;
}

.digiency-2 {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  line-height: 45.77px;
  text-align: left;
  color: #373737;
}

.gap-29 {
  gap: 29px;
}

.navbar-items {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.menubar {
  display: none;
}

.navbar-items:hover {
  color: red;
}

.nav-shadows {
  box-shadow: 0px 1px 10px 0px #0000001a;
}

.col-6 {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
}

.section1-background {
  background-color: #fff7f4;
}

.mt-170 {
  margin-top: 170px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-150 {
  padding-bottom: 150px;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.section1-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.33px;
  text-align: left;
  color: black;
}

.digital-span {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.33px;
  text-align: left;
  color: #ff5300;
}

.section1-paragraph {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7b7b7b;
}

.contactus-button {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #ffffff;
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
  background-color: #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;

  border: none;
}

.contactus-button:hover {
  background-color: #ffffff;
  color: #ff5300;
  border: 2px solid #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
}

.postion-relative {
  position: relative;
}

.postion-absolute {
  position: absolute;
}

.mainbox-apps {
  top: 30%;
  right: -20%;
}

.facebook-box {
  padding: 8px 8px 8px 8px;
  background-color: white;
  box-shadow: 4px 5px 15px 0px #FF530066;
}

.section-1:hover .mainbox-apps {
  right: 0%;
}

.over-flow-hidden {
  overflow: hidden;
}

.facebook-box:hover svg path {
  fill: white;
}

.facebook-box:hover {
  background-color: #ff5300;
}

.pt-120 {
  padding-top: 120px;
}

.section2-contactus-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #ffffff;
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
  background-color: #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
  border: 2px solid #ff5300;
}

.section2-contactus-btn:hover {
  background-color: #ffffff;
  color: #ff5300;
  border: 2px solid #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
}

.section2-we-are {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
}

.ideas-better-span {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
  color: #FF5300;
}

.mt-25 {
  margin-top: 25px;
}

.mt-18 {
  margin-top: 18px;
}

.about-us {
  font-family: "Work Sans", sans-serif;
  color: #7B7B7B;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.section1-lorem-paragraph {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.col-3 {
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #FF5300;
  background-color: #FF5300;
  box-shadow: 4px 5px 15px 0px #FF530066;
}

.justify-content-center {
  justify-content: center;
}

.circle:hover {
  background-color: white;
}

.circle:hover span svg path {
  fill: #FF5300;
}

.circle-2 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #7B7B7B;
  background-color: #7B7B7B;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-2:hover {
  background-color: white;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-2:hover span svg path {
  fill: #7B7B7B;
}

.circle-3 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #00ACFF;
  background-color: #00ACFF;
  box-shadow: 4px 5px 15px 0px #00C2FF66;
}

.circle-3:hover {
  background-color: white;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-3:hover span svg path {
  fill: #00ACFF;
}

.circle-4 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid #373737;
  background-color: #373737;
  box-shadow: 4px 5px 15px 0px #00000066;
}

.circle-4:hover {
  background-color: white;
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.circle-4:hover svg path {
  fill: #373737;
}

.card {
  box-shadow: 0px 1px 10px 0px #0000001A;
  padding: 25px 30px 20px 20px;
  height: 100%;
}

.pt-60 {
  padding-top: 60px;
}

.pb-120 {
  padding-bottom: 120px;
}

.text-align-center {
  text-align: center;
}

.box-paragraph-sec2 {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: center;
  color: #373737;
}

.mt-36 {
  margin-top: 36px;
}

.card:hover .circle-2 {
  background-color: white;

}

.card:hover .circle-2 svg path {
  fill: black;
}

.card:hover .circle {
  background-color: white;

}

.card:hover .circle svg path {
  fill: #FF5300;
}

.card:hover .circle-3 {
  background-color: white;

}

.card:hover .circle-3 svg path {
  fill: #00ACFF;
}

.card:hover {
  box-shadow: 0px -2px 38px 8px #0000001a;
}

.card:hover .circle-4 {
  background-color: white;
}

.card:hover .circle-4 svg path {
  fill: black;
}

.section3-our-expereince {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.section-3-background {
  background-color: #FFF7F4;
}

.pb-60 {
  padding-bottom: 60px;
}

.section3-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
}

.section3-span {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
  color: #FF5300;

}

.lorem-paragraph-section3 {
  font-family: "Work Sans" x, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.lorem-paragraph2-section3 {
  font-family: "Work Sans" x, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.section3-contactus-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #ffffff;
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
  background-color: #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
  border: 2px solid #ff5300;
}

.section3-contactus-btn:hover {
  background-color: #ffffff;
  color: #ff5300;
  border: 2px solid #ff5300;
  box-shadow: 0px 1px 10px 0px #FAD2C0;
}

.box-card {
  box-shadow: 0px 1px 10px 0px #0000001A;
  padding: 70px 40px 70px 40px;
  background-color: white;
}

.global-customer-section3 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #7B7B7B;
}

.card-number-section3 {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  color: #373737;
  font-weight: 700;
  line-height: 59.33px;
  text-align: left;
}

.mt-30 {
  margin-top: 30px;
}

.box-card:hover {
  box-shadow: 0px -2px 38px 8px #0000001a;
}

.text-wrap-nowrap {
  text-wrap: nowrap;
}

.team-member-section4 {
  font-family: "Work Sans;" sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.section4-wehave {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
}

.section4-awesome {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
  color: #FF5300;
}

.section4-box-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
}

.section4-box-paragraph {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  color: #7B7B7B;
  text-align: left;
}

.section4-box {
  box-shadow: 0px 1px 10px 0px #0000001A;
}

.section4-box:hover {
  box-shadow: 0px -2px 38px 8px #0000001a;
}

.mt-60 {
  margin-top: 60px;
}

.scroll-bar {
  overflow-x: scroll;
}

.w-1140 {
  width: 1140px;
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.w1320px {
  max-width: 1320px;
}

.mt-24 {
  margin-top: 24px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mt-12 {
  margin-top: 12px;
}

.mainbox-apps-section4 {
  position: absolute;
  top: 40%;
  right: -41px;
  transition: all 200ms linear;
  transform: translateY(-50%);
}

.facebook-box-section4 {
  padding: 8px 8px 8px 8px;
  background-color: white;
  box-shadow: 4px 5px 15px 0px #FF530066;
}

.section4-box:hover .mainbox-apps-section4 {
  right: 2%;
}

.over-flow-hidden {
  overflow: hidden;
}

.facebook-box-section4:hover svg path {
  fill: white;
}

.facebook-box-section4:hover {
  background-color: #ff5300;
}

.section5-have-some {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
}

.section5-have-span {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
  color: #FF5300;
}

.section5-our-work {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: center;
  color: #7B7B7B;
}

.section5-names-aap {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #7B7B7B;
}

.gap-43 {
  gap: 43px;
}

.section5-names-aap:hover {
  color: #FF5300;
}

.col-4 {
  width: 33.33%;
  padding-right: 12px;
  padding-left: 12px;
}

.orange-box {
  height: 96%;
  width: 100%;
  background-color: #E54B00;
  top: 8px;
  left: 0;
  opacity: 0%;
  transition: all 300ms linear;
}

.orange-box:hover {
  height: 96%;
  width: 100%;
  background-color: #e54c00a2;
  top: 8px;
  left: 0;
  opacity: 100%;

}

.hover-work {
  font-family: " Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.9px;
  text-align: left;
  color: #ffffff;
}

.hover-design {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #ffffff;
}

.mt-185 {
  margin-top: 185px;
}

.over-flow-auto {
  overflow: auto;
}

.w-615 {
  width: 615px;
}

.section6-background {
  background-color: #FFF7F4;
}

.section6-client-feedback {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: center;
  color: #7B7B7B;
}

.section6-some-great {
  font-family: "Work Sans", sans-serif;
  font-size: 31.25px;
  font-weight: 600;
  line-height: 38.62px;
  text-align: center;
}

.section6-span {
  color: #E54B00;
  font-family: "Work Sans", sans-serif;
  font-size: 31.25px;
  font-weight: 600;
  line-height: 38.62px;
  text-align: center;

}

.image1 {
  left: -2%;
}

/* the slides */
.slick-slide {
  margin: 0 27px;
}

/* the parent */
.slick-list {
  margin: 0 -27px;
}

.px_12px {
  padding-left: 12px;
  padding-right: 12px;
}

.slick-slide {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

.slides {
  width: 100%;
}

.slick-slide>div {
  width: 100% !important;
}

.slide-img {
  height: 80px;
  width: 80px;
}

.childslider {
  box-shadow: 0px 1px 10px 0px #0000001A;
  background-color: #FF5300;
  position: relative;
  padding: 20px;
  margin-left: 50px;
  margin-right: 2px;
}

.slider-head {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.9px;
  color: white;
  margin-left: 45px;
  margin-top: 15px;
}

.slick-slide>div {
  display: flex !important;
}

.slider-txt {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  color: white;
  margin-left: 45px;
}

.img-postn {
  top: 10%;
  z-index: 5;
  left: -8%;
}

.slick-next,
.slick-prev {
  display: none;
}

.slick-dots li.slick-active button:before {
  opacity: 0;
}

.slick-dots li.slick-active {
  background-color: #373737;
  width: 49px;
  height: 15px;
  border-radius: 7.5px;
  z-index: 5;
  position: relative;
  opacity: 100;
}


.slick-dots li button::after {
  width: 15px;
  height: 15px;
  background-color: grey;
  opacity: 100%;
  border-radius: 50px;
  font-size: 0;
  transition: all 0.4s linear;
}

.slick-dots li button::before {
  width: 15px;
  height: 15px;
  background-color: #E54B00;
  opacity: 100%;
  border-radius: 50px;
  font-size: 0;
  transition: all 0.4s linear;
}

.slick-dots {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.pb-60 {
  padding-bottom: 60px;
}

.h-80 {
  height: 80px;
}

.slides {
  padding: 20px;
  box-shadow: 0px 1px 10px 0px #0000001A;
  margin: 20px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-20 {
  margin-top: 20px;
}

.section7-our-blog {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: center;
  color: #7B7B7B;
}

.section7-our-latest {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
}

.section7-span {
  font-family: "Work Sans", sans-serif;
  color: #E54B00;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
}

.slide-img {
  height: 80px;
  width: 80px;
}

.slides {
  width: 100%;
}


.graphic {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #FF5300;
}

.stellar {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.9px;
  text-align: left;
  color: #373737;
}

.gap-2 {
  gap: 2px;
}

.cris {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  text-align: center;
  color: #373737;
}

.m-0 {
  margin: 0;
}

.jan {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.mt-5 {
  margin-top: 5px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.section8-contactus {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}

.section8-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;

}

.section8-heading-span {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
  color: #E54B00;
}

.section8-box {
  width: 100%;
  box-shadow: 0px 1px 10px 0px #0000001A;
  color: white;
  padding: 20px !important;
  margin-top: 24px;
}

.gap-3 {
  gap: 3px;
}

.section8-circle {
  height: 75px;
  width: 75px;
  background-color: #FF5300;
  border-radius: 50px;
  border: 2px solid #FF5300;
}

.drop {
  font-family: "Work Sans", sans-serif;
  font-size: var(--fs-4xl);
  font-weight: 500;
  line-height: 30.9px;
  text-align: left;
  color: #E54B00;
}

.mail {
  font-family: "Work Sans", sans-serif;
  font-size: var(--fs-5xl);
  font-weight: 600;
  line-height: 38.62px;
  text-align: left;
  color: black;
}

.email {
  font-family: "Work Sans", sans-serif;
  font-size: var(--fs-2xl);
  font-weight: 500;
  line-height: 24.72px;
  text-align: left;
  color: #7B7B7B;
}

.mt-35 {
  margin-top: 35px;
}

.mt-24 {
  margin-top: 24px;
}

.namebox {
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 10px 0px #0000001A;
  background: white;
  display: flex;
  align-items: center;
  outline: none;
  padding: 0px 20px 0px 20px;
}

.outline {
  outline: none;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: var(--fs-lg);
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #7B7B7B;
}


.name {
  height: 163px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px 0px #0000001A;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  padding: 20px;
  margin-top: 24px;
  outline: none;
  border: none;
  resize: none;
  color: #7B7B7B;
}

.gap-18 {
  gap: 18px;
}

.send-btn {
  padding: 13px 25px 12px 24px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px #0000001A;
  border: 2px solid #FF5300;
  background-color: #E54B00;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.72px;
  color: white;
  margin-top: 24px;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #ffffff;
  color: #FF5300;
}

.section8-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 31.25px;
  font-weight: 600;
  line-height: 38.62px;
  text-align: left;
}

.section8-heading-span {
  font-family: "Work Sans", sans-serif;
  font-size: 31.25px;
  font-weight: 600;
  line-height: 38.62px;
  text-align: left;
  color: #E54B00;
}

.map {
  max-width: 100%;
  list-style: none;
  overflow: hidden;
  width: 1170px;
  height: 450px;

}

.mb-125 {
  margin-bottom: 125px;
}

.gmap_canvas {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.footer-digiency {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
  color: #ffffff;
}

.footer-digiency-span {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: center;
  color: #FF5300;
}

.foooter-lorem {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.footer-icons {
  padding: 8px 8px 8px 8px;
  background-color: white;
  box-shadow: 4px 5px 15px 0px #FF530066;
}

.footer-icons:hover svg path {
  fill: white;
}

.footer-icons:hover {
  background-color: #ff5300;
}

.footer-background {
  background-color: #373737;
}

.pt-66 {
  padding-top: 66px;
}

.footer-company {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  color: #ffffff;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
}

.footer-aboutus {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.footer-sevices {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
}

.footer-graphic {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.footer-newsletter {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 48.28px;
  text-align: left;
}

.footer-lorem-paragraph {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.pb-59 {
  padding-bottom: 59px;
}

.text-align-start {
  text-align: start;
}

.footer-mailbox {
  display: flex;
  align-items: center;
  max-width: 270px;
  height: 60px;
}

.footer-mail {
  border: 1px solid #FF5300;
  display: flex;
  align-items: center;
  padding: 19px 46px 19px 18px;
  color: #7B7B7B;
  font-family: "Work Sans", sans-serif;
  background-color: #373737;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: center;
}

.footer-mail:hover {
  border: 1px solid #ffffff;
}

.footer-btn {
  padding: 16px 21px 16px 21px;
  background-color: #FF5300;
  border: 2px solid #ff5300;
}

.footer-btn:hover {
  background-color: #ffffff;
}

.footer-btn:hover svg path {
  fill: #E54B00;
}

.gap-18 {
  gap: 18px;
}

.footer-copyright {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
}

.last-orange-line {
  background-color: #FF5300;
  padding: 10px 0;
}

@media (max-width: 992px) {
  .navbar-items {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: black;
  }

  .section1-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 50.33px;
    text-align: left;
    color: black;
  }

  .digital-span {
    font-family: "Work Sans", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 50 .33px;
    text-align: left;
    color: #ff5300;
  }

  .global-customer-section3 {
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 24.72px;
    text-align: left;
    color: #7B7B7B;
  }

  .card-number-section3 {
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    color: #373737;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
  }

  .lg-mt-15 {
    margin-top: 15px;
  }

  .section8-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 25.25px;
    font-weight: 600;
    line-height: 38.62px;
    text-align: left;
  }

  .section8-heading-span {
    font-family: "Work Sans", sans-serif;
    font-size: 25.25px;
    font-weight: 600;
    line-height: 38.62px;
    text-align: left;
    color: #E54B00;
  }

  .footer-btn {
    padding: 8px 5px 10px 5px;
    background-color: #FF5300;
    border: 2px solid #ff5300;
  }

  .footer-mail {
    border: 1px solid #FF5300;
    display: flex;
    align-items: center;
    padding: 12px 5px 12px 5px;
    color: #7B7B7B;
    font-family: "Work Sans", sans-serif;
    background-color: #373737;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .menubar {
    width: 40px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 100;
  }

  .menubar span {
    height: 5px;
    width: 100%;
    background-color: red;
    border-radius: 3px;
  }

  .nav-items {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff7f4;
    left: -100%;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .md-w-100 {
    width: 100%;
  }

  .show {
    left: 0;
  }

  .md-col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .md-flex-direction-revrse {
    flex-direction: column-reverse;
  }

  .md-col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .md-mt-20 {
    margin-top: 20px;
  }

  .md-justify-content-center {
    justify-content: center;
  }

  .md-mt-30 {
    margin-top: 30px;
  }

  .global-customer-section3 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.72px;
    text-align: left;
    color: #7B7B7B;
  }

  .card-number-section3 {
    font-family: "Work Sans", sans-serif;
    font-size: 35px;
    color: #373737;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
  }

  .section3-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 31.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }

  .section5-have-some {
    font-family: "Work Sans", sans-serif;
    font-size: 30.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
  }

  .section5-have-span {
    font-family: "Work Sans", sans-serif;
    font-size: 30.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
    color: #FF5300;
  }

  .mt-md-15 {
    margin-top: 15px;
  }

  .md-mt-25 {
    margin-top: 25px;
  }

  .footer-company {
    font-family: "Work Sans", sans-serif;
    font-size: 25.06px;
    color: #ffffff;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }

  .footer-sevices {
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
    font-size: 25.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }
    .footer-newsletter {
      font-family: "Work Sans", sans-serif;
      color: #ffffff;
      font-size: 25.06px;
      font-weight: 600;
      line-height: 48.28px;
      text-align: left;
    }
    .md-w-615{
      width: 615px;
    }
    .md-d-flex{
      display: flex;
    }
}


@media (max-width: 567px) {
  .digiency-1 {
    font-family: "Work Sans", sans-serif;
    font-size: 30.06px;
    line-height: 45.77px;
    text-align: left;
    color: #ff5300;
  }

  .section7-our-latest {
    font-family: "Work Sans", sans-serif;
    font-size: 20.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
  }

  .section7-span {
    font-family: "Work Sans", sans-serif;
    color: #E54B00;
    font-size: 20.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
  }

  .digiency-2 {
    font-family: "Work Sans", sans-serif;
    font-size: 30.06px;
    line-height: 45.77px;
    text-align: left;
    color: #373737;
  }

  .section1-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.33px;
    text-align: left;
    color: black;
  }

  .digital-span {
    font-family: "Work Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45.33px;
    text-align: left;
    color: #ff5300;
  }

  .sm-col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .sm-mt-20 {
    margin-top: 20px;
  }

  .section2-we-are {
    font-family: "Work Sans", sans-serif;
    font-size: 34.06px;
    font-weight: 600;
    line-height: 40.28px;
    text-align: left;
  }

  .ideas-better-span {
    font-family: "Work Sans", sans-serif;
    font-size: 34.06px;
    font-weight: 600;
    line-height: 40.28px;
    text-align: left;
    color: #FF5300;
  }

  .section3-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 22.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }

  .section4-wehave {
    font-family: "Work Sans", sans-serif;
    font-size: 25.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
  }

  .section4-awesome {
    font-family: "Work Sans", sans-serif;
    font-size: 25.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
    color: #FF5300;
  }

  .sm-mt-185 {
    margin-top: 185px;
  }

  .section5-have-some {
    font-family: "Work Sans", sans-serif;
    font-size: 16.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
  }

  .section5-have-span {
    font-family: "Work Sans", sans-serif;
    font-size: 16.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
    color: #FF5300;
  }

  .section6-client-feedback {
    font-family: "Work Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: #7B7B7B;
  }

  .section6-some-great {
    font-family: "Work Sans", sans-serif;
    font-size: 20.25px;
    font-weight: 600;
    line-height: 38.62px;
    text-align: center;
  }

  .section8-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 22.25px;
    font-weight: 600;
    line-height: 38.62px;
    text-align: left;
  }

  .section8-heading-span {
    font-family: "Work Sans", sans-serif;
    font-size: 22.25px;
    font-weight: 600;
    line-height: 38.62px;
    text-align: left;
    color: #E54B00;
  }

  .section6-span {
    color: #E54B00;
    font-family: "Work Sans", sans-serif;
    font-size: 20.25px;
    font-weight: 600;
    line-height: 38.62px;
    text-align: center;

  }

  .sm-mt-50 {
    margin-top: 50px;
  }

  .footer-btn {
    padding: 13px 28px 18px 28px;
    background-color: #FF5300;
    border: 2px solid #ff5300;
  }

  .footer-mail {
    border: 1px solid #FF5300;
    display: flex;
    align-items: center;
    padding: 18px 30px 18px 18px;
    color: #7B7B7B;
    font-family: "Work Sans", sans-serif;
    background-color: #373737;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
  }

  .footer-mailbox {
    display: flex;
    align-items: center;
    max-width: 343px;
    height: 60px;
  }

  .footer-company {
    font-family: "Work Sans", sans-serif;
    font-size: 31.06px;
    color: #ffffff;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }

  .footer-sevices {
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
    font-size: 31.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }

  .footer-newsletter {
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
    font-size: 31.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
  }

  .stellar {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30.9px;
    text-align: left;
    color: #373737;
  }

  .jan {
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: #7B7B7B;
  }

  .cris {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
    color: #373737;
  }

  .slider-txt {
    font-family: "Work Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 24.1px;
    color: white;
    margin-left: 45px;
  }

  .slider-head {
    font-family: "Work Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 30.9px;
    color: white;
    margin-left: 45px;
    margin-top: 15px;
  }
}




@media (min-width:992px) {

  .section1-heading {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: black;
    max-width: 440px;
  }

  .digital-span {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: #ff5300;
  }

  .section1-paragraph {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: #7b7b7b;
    max-width: 493px;
  }
}